

.movieGallery {
  background-color:white;
  width: 1280px;
  height:720px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  transition: opacity .5s ease-in;
}

.movieGallery + .movieGallery{
  opacity:0;
}

p {
font-family: 'Open Sans', sans-serif;
}

